/**
* Body
*/
html, body {
  height: 100%;
  background-color: ;
}

body.navbar-is-fixed-top {
  margin-top: 50px;
}

.main-container {
  padding-left: 0;
  padding-right: 0;
  margin-top: -3.7em;
}

.region-content {
  min-height: 100%;
  margin-bottom: 5%;
}

.region-content:after {
  content: "";
  display: block;
}

.footer {
  background-color: ;
}

ol, ul {
  padding: 0;
}

/**
* Navbar section
*/
.hover-for-menu {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 80px;
  opacity: 0;
}

.navbar-default .navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: ;
}

.navbar-default .navbar-brand:hover {
  text-decoration: underline;
  color: ;
}

.navbar-default .navbar-nav li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-default .navbar-nav li a:hover {
  color: ;
  text-decoration: underline;
}

.navbar-nav  li.expanded.dropdown > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-nav li.expanded.dropdown > a:hover {
  color: ;
  text-decoration: underline;
}

.navbar-nav li.expanded.dropdown.open a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-nav li.expanded.dropdown.open ul a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-nav li.expanded.dropdown.open ul a:hover {
  color: ;
  text-decoration: underline;
  background-color: transparent;
}

/**
* Banner image
*/
.view-homepage-banner-image li {
  list-style: none;
}

.view-homepage-banner-image img {
  margin: 0 auto;
  width: 100%;
}

/**
* Category pages
*/
.view-category-pages .view-header {
  width: 80%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  font-family: 'Arial', 'Helvetica';
}

.view-category-pages .view-content {
  vertical-align: top;
  display: flex;
  justify-content: center;
}

.view-category-pages .view-content ul {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.view-category-pages .view-content li {
  display: inline-block;
  list-style: none;
  padding: 15px;
}

.view-category-pages .view-content li img {
  box-shadow: 6px 6px 20px #000;
}

.view-category-pages .view-content li img:hover {
  transform: scale(1.1);
}

.path-categories .region-header {
  text-align: center;
}

/**
* Category blocks
*/
.region-content {
  display: flex;
  justify-content: center;
}

#block-homepagecategoryblocks .views-element-container {
  display: inline-block;
  justify-content: center;
  margin-top: 15px;
  background-color: ;
}

#block-homepagecategoryblocks .block-title {
  text-align: center;
  padding-bottom: 15px;
  background-color: #fff;
  flex-direction: row;
}

#block-homepagecategoryblocks .views-row {
  padding: 15px;
}

#block-homepagecategoryblocks .views-row img {
  box-shadow: 6px 6px 20px #000;
  transition: all .2s ease-in-out;
}

#block-homepagecategoryblocks .views-row img:hover {
  transform: scale(1.1);
}

/**
* Footer
*/
footer.footer-fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}


/**
* Paragraphs
*/
.paragraph {
  margin-bottom: 3em;
}

.field-item {
  display: inline-block;
}

.p-container {
  clear: both;
  display: block;
  margin-bottom: 2em;
}

.p-container h2 {
  margin-left: .6em;
}

.column {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0 .2em;
}

.paragraph--type--hero-section .p-container .hero-image {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.paragraph--type--hero-section .p-container .hero-image img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.paragraph--type--two-column-section .p-container .col-1 {
  width: 45%;
  float: left;
  position: absolute;
}

.paragraph--type--two-column-section .p-container .col-2 {
  width: 45%;
  float: right;
}

.paragraph--type--two-column-section img {
  width: 100%;
  margin-bottom: 1.5em;
  box-shadow: 6px 6px 20px #000;
  transition: all .2s ease-in-out;
}

.paragraph--type--two-column-section img:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.paragraph--type--two-column-section .p-container {
  width: 90%;
  margin: 0 auto;
}

.paragraph--type--three-column-section .p-container .col-1 {
  width: 30%;
  float: left;
}

.paragraph--type--three-column-section .p-container .col-2 {
  width: 30%;
  display: inline-block;
  position: relative;
  right: -1.8%;
}

.paragraph--type--three-column-section .p-container .col-3 {
  width: 30%;
  float: right;
}

.paragraph--type--three-column-section img {
  width: 100%;
  margin-bottom: 1.5em;
  box-shadow: 6px 6px 20px #000;
  transition: all .2s ease-in-out;
}

.paragraph--type--three-column-section img:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.paragraph--type--three-column-section .p-container {
  width: 90%;
  margin: 0 auto;
}
